*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Georgia;
}

.spacing2{
    width: 100%;
    height: 10vw;
}

/* Cargar página */
#contenedor_carga{
    background-color: #eaf8f5;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #70ACB1;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* HEADER */
.container-header{
    position: fixed;
    width: 100%;
    padding: 1vw;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    color: white;
    background-color: rgba(37, 37, 37, 0.918);
}
.nav{
    display: block;
}
.nav-header{
    width: 50%;
    margin-left: 10px;
}
.logo{
    display: inline-block;
    width: 20vw;
    margin: auto;
}
header nav ul{
    list-style-type: none;
}
.main-menu{
    position: absolute;
    display: flex;
    text-align: right;
    bottom: 0;
    right: 10px;
    margin: 2vw 1vw;
}
.main-menu li a{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4vw;
    text-decoration: none;
    outline: none;
    list-style: none;
    color: white;
    margin: auto 15px;
    -webkit-transition:0.2s all;
	transition:0.2s all;
}
.main-menu li a:after {
	content:"";
	display:block;
	height:2px;
	background-color:#70ACB1;
	width:100%;
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}
.main-menu li a:hover:after , .main-menu li a:focus:after {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity:1;
}

.menu-vertical{
    position: absolute;
    display: none;
    background-color: rgba(37, 37, 37, 0.5);
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);   
}
.menu-vertical li{
    padding-top: 4%;
}
.main-menu li:hover .menu-vertical{
    display: block;
}

.bg-computacion{
    background-image: url(../assets/images/computacion.webp);
}
.bg-ingenieria{
    background-image: url(../assets/images/ingenieria.webp);
}
.bg-medicina{
    background-image: url(../assets/images/medicina.webp);
}
.bg-economia{
    background-image: url(../assets/images/economia.webp);
}
.bg-arte{
    background-image: url(../assets/images/arte.webp);
}
.bg-idiomas{
    background-image: url(../assets/images/ingles.webp);
}
.fondo{
    position: relative;
    width: 100%;
    height: 30vw;
	background-size: 100%;
    background-attachment:fixed;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 40%;
    color: black;
    background-color: #D7F5EE;
    border: 0.7vw solid #70ACB1;
    text-align: center;
    font-size: 3vw;
    padding: 1vw 0;
}

main{
    margin: 10%;
    min-height: 62vh;
}
.container{
    display: flex;
}
.grid-cursos{
    width: 100%;
    display: grid;
    background-color: #D7F5EE;
    grid-template-columns: auto auto;
    padding-bottom: 3%;
}
.grid-cursos div{
    color: white;
    background-color: #59606D;
    margin: 4%;
    display: table;
}
.grid-cursos div video{
    width: 100%;
    height: 15vw;
}
.grid-cursos div iframe{
    width: 100%;
    height: 15vw;
}
.grid-cursos div a img{
    width: 100%;
    height: 15vw;
}
.grid-cursos div div{
    display: table;
    height: 3vw;
    width: 96.1%;
    padding: 1%;
    margin: 2%;
    margin-bottom: 2%;
    background-color: #333;
}
.grid-cursos div div a{
    background-color: #D7F5EE;
    display: table-cell;
    vertical-align: middle;
    color: #333;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: all 0.3s linear;
}
.grid-cursos div div a:hover{
    background-color: #70ACB1;
    color: white;
}
table{
    display: table;
    margin: 2%;
    text-align: center;
}
tr{
    font-size: 0.9vw;
}
td{
    width: 100%;
    background-color: #243D61;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
}
th{
    text-align: left;
    padding: 3px;
    font-size: 0.8vw;
}
col:nth-child(1){
    background-color: #52787A;
    text-align: left;
}

.desc_cursos{
    background-color: black;
    height: 9vw;
    padding: 0 10%;
    vertical-align: middle;
}

.aside{
    width: 25%;
    margin-left: 3%;
    background-color: #D7F5EE;
    padding: 2%;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}
.menu-cursos h2{
    text-align: center;
    margin-bottom: 15%;
    font-size: 1.8vw;
    color: #333;
    background-color: white;
    border: 1px solid #333;
}
.aside video{
    width: 100%;
}
.menu-cursos ul li{
    
    list-style-type: none;
    margin-bottom: 10%;

}
.menu-cursos ul li a{
    display: inline-block;
    padding: 5% 1%;
    width: 100%;
    color: white;
    background-color: #333;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
.menu-cursos ul li a:hover{
    color: #333;
    background-color: #70ACB1;
    font-weight: bold;
}
#seleccionado a{
    color: #333;
    background-color: #70ACB1;
    font-weight: bold;
}
.redes{
    display: flex;
    justify-content: space-around;
    margin: 1.7vw 0;
}
.redes img{
    width: 3vw;
}
.banner img{
    width: 100%;
    padding: 2%;
    background: #333;
    border: 1px solid #333;
}
.banner img:hover{
    transform: scale(1.2);
}

/* FOOTER */
footer{
    position: relative;
    width: 100%;
    bottom: 0;
}
.footer-container{
    width: 100%;
    background-color: #333;
    color: #D7F5EE;
    padding: 1.8vw 0;
}
.footer-colums{
    display: flex;
    align-items: center;
}
.column1{
    display: block;
    width: 30%;
    text-align: center;
    margin-left: 3vw;
}
.logo-footer{
    width: 15vw;
    margin-left: 3vw;
    margin-bottom: 2vw;
}
.social-icons{
    display: flex;
    margin: auto 1vw;
}
.social-icons img{
    width: 2vw;
    margin-left: 1vw;
}
.column2{
    width: 30%;
    margin-left: 2vw; 
}
.nav-footer li{
    list-style-type: none;
}
.nav-footer li a{
    display: block;
    text-decoration: none;
    color: #D7F5EE;
    font-size: 1.2vw;
    padding: 0.5vw;
}
.column3{
    width: 30%;
    text-align: center;
    font-size: 1vw;
}
.column3 a img{
    width: 40%;
    margin: 4% 0;
}
.pagination{
    background-color: #D7F5EE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #20B2AA;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: #20B2AA;
}

/* AGREGAR ESTO PARA DAR ESTILO A LOS ENLACES DE PAGINACIÓN */
.pagination li a{
    text-decoration: none;
    color: inherit;
}

.todo{
    display: block;
    align-items: center;
    justify-content: center;
}